@model ProgramaDeRequisas.Models.TBL_Material

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrupoArticulos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoArticulos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Cad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Cad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Material_X_Almacen.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Material_X_Almacen.Lote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
